*
{
  font-family: 'Lato', sans-serif;
}
body{
  background-color: lightblue;
}
.login-div{
  margin: 100px auto;
  width: 350px;
  background-color: #fff;
  padding: 60px;
}
.logo{

  margin: 0 auto;
  margin-bottom: 10px;
}

.logo img
{
  width: 100%;

}
.title,.subtitle
{
  text-align: center;
}
.title
{
  font-weight: bolder;
  font-size: 35px;
}
.subtitle
{
  font-size: 17.5px;
}
.form
{
  width: 100%;
  margin-top: 30px;
}
.form input{
  font-size: 20px;
  padding: 10px 20px 10px 5px;
  border: none;
  outline: none;
}

.username,.password
{
  display: block;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 2);
  padding: 10px;
  margin: 10px 0;
}
.form svg
{
  height: 25px;
  margin-bottom: -5px;
  margin-left: 10px;
  margin-right: 5px;
}

.option
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
  margin-top: 30px;

}

button.singin-btn
{
  width: 100%;
  padding: 12px 10px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  background-color: #1597E5;
  color: #fff;
  margin-bottom: 5px;
}

.sign-up
{
  text-align: center;
}
a
{
  text-decoration: none;
  color: #505050;
}
